.frame5{
    display: flex;
    justify-content: space-evenly;
    padding-left: 150px;
    padding-top: 50px;

}
.fr5foto img{
    scale: 2;
    padding-top: 40px;
}
.fr5text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    text-align: left;
}
.fr5text h2{
    font-size: 28px;
}
.fr5text p{
    font-size: 16px    ;
}
@media (max-width: 767px ) {
    .fr5foto img{
        order: 2;
        scale: 3;
        padding-right: 0px;
        padding-bottom: 60px;
        padding-top: 90px;
    }
    .fr5text {
        order: 2;
       padding-left: 0;
        padding-top: 80px;
        align-items: center;

    }
    .frame5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        padding-top: 0px;
    }

}