.button{
    padding: 10px 15px;
    background: #43a046;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    white-space: nowrap;
    border: 1px #717171;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{


    box-sizing: border-box;
    padding: 10px 15px;

    color: #FFFFFF;

    /* Brand/Primary */
    background: #4CAF4F;
    border-radius: 4px;
}