.fr4logo1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    box-shadow: 0.5rem 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 3px;
    padding: 30px;
}

.fr4logo2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    box-shadow: 0.5rem 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 3px;
    padding: 30px;
}

.fr4logo3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    box-shadow: 0.5rem 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 3px;
    padding: 30px;
}
.textfr4logo1 {
    padding: 5px;

}

.textfr4logo2 {
    padding: 5px;

}

.textfr4logo3 {
    padding: 5px;

}
.frame4{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    gap: 50px;
}
.fr4l1 img{
    width: 46px;
    height: 40px;
}
@media (max-width: 767px ) {
    .frame4{
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        flex-direction: column;
        gap: 50px;
    }
}